*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pt{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    color: #0E0E0E;
}


.h1t{
    font-size: 25px; 
    font-family: "Yeseva One", serif;
    color: #0E0E0E;
}